{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "linebreak-style": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "arrow-body-style": "off",
    "no-console": "off",
    "prefer-const": "off",
    "prefer-template": "off",
    "one-var": "off",
    "no-multi-assign": "off",
    "no-restricted-properties": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/href-no-hash": "off"
  },
  "env": {
    "browser": true,
    "mocha": true
  }
}
